---
// Import the necessary dependencies
import { Image } from "astro:assets";
import IconBlock from "@components/ui/blocks/IconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";

interface Feature {
  heading: string;
  content: string;
  svg: string;
}

interface Props {
  title?: string;
  subTitle?: string;
  features?: Feature[];
}
// Define props from Astro
const { title, subTitle, features } = Astro.props;
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Displaying the main content consisting of title, subtitle, and several `IconBlock` components -->
  <div class="mt-5 lg:mt-16">
    <!-- Block for title and subtitle - Full width -->
    <div class="mx-auto max-w-3xl text-center mb-12">
      <!-- Rendering title -->
      <h2
        class="text-balance text-2xl font-bold text-neutral-800 dark:text-neutral-200 md:text-3xl"
      >
        {title}
      </h2>
      <!-- Rendering subtitle -->
      {
        subTitle && (
          <p class="mt-4 text-pretty text-neutral-600 dark:text-neutral-400">
            {subTitle}
          </p>
        )
      }
    </div>

    <!-- Block to display the IconBlock components - 4 column grid -->
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4 md:gap-12">
      <!-- Injecting IconBlock components with different properties -->
      { features &&
        features.map((feature) => (
          <IconBlock heading={feature.heading} content={feature.content}>
            <Icon name={feature.svg} />
          </IconBlock>
        ))
      }
    </div>
  </div>
</section>
